.header-container {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
  .img-container {
    display: block;
    text-align: center;
    padding: 1em;
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
  .title-container {
    display: block;
    text-align: center;
    padding: 1em;
    h1 {
      text-shadow: 2px 2px rgba(175, 97, 97, 0.2);
      font-weight: 900;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-family: "Roboto", sans-serif;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }
}
