@import "./vars.scss";

.main-container {
  padding: 2em 0 2em 0;
  font-family: "Roboto", sans-serif;
  .search-container {
    margin-bottom: 1em;
    button {
      color: $button-text-color;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .search-content-container {
    text-align: center;
    h3 {
      margin: 1em 0 1em 0;
    }
  }
  .card {
    box-shadow: $box-shadow-default;
    margin-top: 0.5em;
    h4 {
      margin: 1em;
    }
    button {
      width: 100%;
      color: $button-text-color;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
