@import "./vars.scss";

.repo-info-container {
  margin-top: 0.5em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  .title-container {
    margin: 1em 0 1em 0;
  }
  .commits-container {
    display: flex;
    flex-direction: column;
    .commit-container {
      box-shadow: $box-shadow-default;
      text-align: center;
      display: flex;
      flex-direction: row;
      text-align: left;
      align-items: center;
      margin: 0.5em 0 0.5em 0;
      .image-container {
        img {
          overflow: hidden;
          width: 120px;
          height: 120px;
        }
      }
      .commit-info-container {
        margin-left: 1em;
        h4 {
          margin: auto;
          font-size: 1.25em;
        }
      }
    }
  }
  button {
    margin-top: 0.5em;
    color: $button-text-color;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
}
