.repo-info-container {
  margin-top: 0.5em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  .commits-container {
    display: flex;
    flex-direction: column;
    .commit-container {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
      text-align: center;
      display: flex;
      flex-direction: row;
      text-align: left;
      margin: 0.5em 0 0.5em 0;
      .image-container {
        img {
          overflow: hidden;
          width: 120px;
          height: 120px;
        }
      }

      .commit-info-container {
        margin-left: 0.5em;
      }
    }
  }
  button {
    margin-top: 0.5em;
    color: #3498db;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
}
