$footer-background-color: #f2f2f5;
$box-shadow-default: 0 3px 6px rgba(0, 0, 0, 0.08),
  0 3px 6px rgba(0, 0, 0, 0.15);
$button-text-color: #3498db;
$background-image: linear-gradient(
  to right top,
  #051937,
  #004d7a,
  #008793,
  #00bf72,
  #a8eb12
);
